*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Yusei Magic', sans-serif;
}

html{
    font-size: 62.5%;
}

header{
    background-color: #fff3e2;
}

.nav{
    padding: 20px;
    list-style: none;
    text-align: right;
}

.nav li {
    color: #333;
    display: inline-block;
    font-size: 1.5rem;
    margin: 10px 0;
    padding-left: 20px;
    padding-right: 20px;
}


.nav .logo{
    display: unset;
    float: left;
    font-size: 2rem;
    padding: 0px;
    margin: 0px;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

.inicio{
    background-color: #ebcfc4;
    min-width: 200px;
    min-height: 100px;
    padding: 10px;
    margin-bottom: 10px;
}

.proyectos{
    min-width: 200px;
    min-height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #9088d4;
}

.skills{
    min-width: 200px;
    min-height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #706897;
}

footer{

}