*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Yusei Magic', sans-serif;
}

html{
    font-size: 62.5%;
}

header{
    background-color: #f1f3f8;
}

.nav{
    padding: 15px;
    list-style: none;
    text-align: right;
}

.nav li {
    color: #333;
    display: inline-block;
    font-size: 2rem;
    margin: 10px 0;
    padding-left: 10px;
    padding-right: 10px;
}


.nav .logo{
    display: unset;
    float: left;
    font-size: 2rem;
    padding: 0px;
    margin: 0px;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

.inicio{
    background-color: #f1f3f8;
    min-width: 100%;
    min-height: 30vh;
    padding: 10px;
}

.proyectos{
    min-height: 30vh;
    padding: 10px;
    background-color: #d6e0f0;
}

.skills{
    min-height: 20vh;
    padding: 10px;
    background-color: #8d93ab;
}

.inicio > p {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
}

footer{
    min-height: 20vh;
    background-color: #393b44;
}